/*#teste{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    position: relative;
    left: 200px;
}*/
html, body{
    margin: 0px;
    padding: 0px;
    }
#princ{
        width: 80%;
        height: 100%;
        min-width: 320px;
        margin: 10%;
        border: 5px dotted rgb(1, 1, 20);
        position: absolute;
}
#header{
        background-color: teal;
        color: white;
        height: 10%;
        min-height: 50px;
        background: linear-gradient(#000000,#292772);
        font-size: 2em;
        text-align: center;
    }
#div1{
    background-color: rgb(236, 166, 116);
    color: white;
    top: 5px;
}
#div2{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    top: 5px;
}
#div3{
    background-color: indigo;
    color: white;
    top: 5px;
}
#div4{
    background-color: darkred;
    color: white;
    top: 5px;
}
#rodape{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 10%;
    min-height: 50px;
}
.interna{
    width: 25%;
    height: 80%;
    padding: 0.5em;
    border: 2px solid rgb(2, 6, 255);
    border-radius: 1em;
    position: relative;
    float: left;
    box-sizing: border-box;
    overflow: auto;
}